.parent{
         background-color: darkgray;
         border: black solid 2px;
         display: grid;
         grid-template-columns: repeat(3,1fr);
         grid-template-rows: repeat(4,100px);
         padding: 10px;
         gap:10px ;
       
}

.parent div{
      background-color: blue;
      border-radius: 5px;
       border: black solid 2px;
}

.parent .head{
      grid-column:3/4;
       grid-row:1/2;
       background-image: url(isagi\ eye.jpg);
         background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 30%;
}

.parent .left{
      grid-row:2/5;
             background-image: url(rin.jpg);
         background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: 2s ease;
}

.parent .left:active{
      background-image: url(new\ rin\ gif.jpg);
}

.parent .right{
      grid-row:2/5;
             background-image: url(isagi.jpg);
         background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: 2s ease;
}
.parent .right:active{
      background-image: url(isagi.gif);
}

.parent .center{
      grid-row:2/5;
             background-image: url(isagi\ and\ rin\ .jpg);
         background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      transition: 2s ease;
}

.parent .center:hover{
      scale: 2;
}


.parent .foot{
      border-radius: 30%;
      grid-column:1/2;
      grid-row: 1/2;
      background-image: url(rin\ eye.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

}
.parent .foot a{
      text-decoration: none;
      color: aliceblue;
      font-family: sans-serif;
      font-weight: 600;
}

.parent .head a{
      text-decoration: none;
      color: aliceblue;
      font-family: sans-serif;
      font-weight: 600;
}

@media (max-width:600px){
      .parent{

            gap: 20px;
            grid-template-columns:1fr 1fr ;
            grid-template-rows:repeat(7,100px) ;
      }

      

.parent .head{
      grid-column:2/3;
       grid-row:1/2;
}

.parent .left{
      grid-row:5/8;
       grid-column:1/2;
}

.parent .right{
      grid-row:5/8;
       grid-column:2/3;
}
.parent .center{
      grid-row:2/5;
       grid-column:1/3;

}
.parent .center:hover{
      scale: 1.3;
}

.parent .foot{
      border-radius: 30%;
      grid-column:1/2;
      grid-row: 1/2;
}
}
