
body{
   background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom,rgba(17, 126, 17, 0.938) 30%,transparent );
}

.navbar{
  background-image:radial-gradient(circle 100px at  left,rgba(17, 126, 17, 0.438) 40%,#111 40%,rgb(0, 0, 0));
  width: 100%;
  height: 100px;
   display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

}


.navbar ul {
     list-style: none;
    display: flex;
  justify-content: center;
  align-items: center;

}
.navbar ul a:hover{
     border-bottom: solid white 2px;
     text-shadow: white 3px 3px 3px;
}

 a{
  margin-right:100px ;
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;

}

 .navbar .title a{
  font-size: 30px;
  margin-right: 300px;
 }
 .green{
  background-image: url(pngtree-stylish-green-sport-polo-shirt-back-view-modern-design-png-image_15532709.png);
  width: 300px;
  height: 350px;
  position: relative;
  top: 130px;
  left: 800px;
 }

 .text{
  position: relative;
  left: 200px;
  bottom: 200px;
 }

 .text p{
  font-size: 50px;
  color: wheat;
  text-shadow: #111 3px 3px 5px;
 }
  .text p .span1{
    font-size: 90px;
    color: black;
  }
    .text p .span2{
      position: relative;
      left: 70px;
      color: rgb(6, 61, 6);
    }

    @media (max-width:600px) {
     .navbar{
      width: 100%;
     }
     a{
      margin-right: 20px;
      font-size: 11px;
     }
      .navbar .title a{
        margin-right: 10px;
        font-size: 14px;
        text-shadow: rgb(0, 255, 0) 2px 2px 4px,
        rgb(0, 255, 0) -2px -2px 4px  ;
      }

.bnm{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


      .text{
     position: static;
     
 }    
 .text p{
  font-size: 20px;
 }
  .text p .span1{
    font-size: 70px;
  }
   .green{
  width: 300px;
  height: 350px;
  position: absolute;
  top: 290px;
  left: 120px;
  background-repeat: no-repeat;
  background-size: 230px 230px;

 }
    }




    